<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>운동 페이지</title>
    <link href="/css/exercise/exerciseMain.css" rel="stylesheet">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:if="${msg}">
      alert("[[${msg}]]");
    </script>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/locales/ko.js"></script>
</head>
<body>

<!--header-->
<div th:insert="~{/common/header.html}"></div>

<!-- 이렇게 작성하면, data-user-pk 속성에 userPk 값이 제대로 들어갑니다. -->
<div id="userData" th:attr="data-user-pk=${userPk}"></div>

<!-- 목표 저장 로딩 모달 -->
<div id="loading-screen" style="display: none;">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
    <p>이번 주에 기록한 내용을 반영 중 입니다...</p>
  </div>
</div>

<!-- ✅ 이벤트 클릭 시 표시할 모달 -->
<div id="event-modal" class="modal">
  <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <h2 id="modal-title"></h2>
    <p id="modal-content"></p>
    <button class="exercise-delete-btn">기록 삭제</button>
  </div>
</div>

<!-- ✅ 목표 작성 버튼 클릭 시 표시할 모달 -->
<div class="target-popup">
  <div class="target-popup-content">
    <div class="target-popup__head">
      <div>주간 목표 설정하기 <i class="fa-solid fa-trophy"></i></div>
      <button class="target-popup-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="target-popup__body">
      <form id="target-form">
        <ul>
          <li>
            이번 주 운동 횟수 목표 :
            <input type="number" name="exercise_target" min="0" step="1"> 회
          </li>
          <li>
            이번 주 수치 기록 횟수 목표 :
            <input type="number" name="value_target" min="0" step="1"> 회
          </li>
          <li>
            이번 주 소모 칼로리 목표 :
            <input type="number" name="kcal_target" min="0" step="1"> kcal
          </li>
        </ul>
        <button type="submit" class="target-save-btn">저 장</button>
      </form>
    </div>
  </div>
</div>

<!-- ✅ 운동명 더보기 버튼 클릭 시 표시할 모달 -->
<div class="exercise-type-popup">
  <div class="exercise-type-popup-content">
    <div class="exercise-type-popup__head">
      <div>
        <input id="exercise-search" type="text" placeholder="종목 이름을 검색하세요">
        <button class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <button class="exercise-type-popup-close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="exercise-type-popup__body"></div>
    <div class="exercise-type-popup__foot">
      <button type="button" class="exercise-type-save-btn">저 장</button>
    </div>
  </div>
</div>

<!-- 메인 -->
<section class="main">

  <div class="top-service">
    <div class="left-service">
      <h2>주간 목표 <i class="fa-solid fa-trophy"></i></h2>
      <div class="target-box">
        <div class="target-1">
          <div><span>이번 주 운동 횟수</span></div>
          <div>
            <div class="target-values">
              <span class="current">0회</span>
              <span class="goal">0회</span>
            </div>
            <div class="target-bar">
              <div class="target-progress"></div>
              <div class="success-stamp">SUCCESS</div> <!-- ✅ 도장 효과 추가 -->
            </div>
          </div>
        </div>
        <div class="target-2">
          <div><span>이번 주 수치 기록 횟수</span></div>
          <div>
            <div class="target-values">
              <span class="current">0회</span>
              <span class="goal">0회</span>
            </div>
            <div class="target-bar">
              <div class="target-progress"></div>
              <div class="success-stamp">SUCCESS</div> <!-- ✅ 도장 효과 추가 -->
            </div>
          </div>
        </div>
        <div class="target-3">
          <div><span>이번 주 칼로리 소모량</span></div>
          <div>
            <div class="target-values">
              <span class="current">0kcal</span>
              <span class="goal">0kcal</span>
            </div>
            <div class="target-bar">
              <div class="target-progress"></div>
              <div class="success-stamp">SUCCESS</div> <!-- ✅ 도장 효과 추가 -->
            </div>
          </div>
        </div>
        <button type="button" class="target-write-btn">목표 작성</button>
      </div>
    </div>
    <div class="right-service">
      <h2>오늘의 수치 기록하기 <i class="fa-solid fa-pencil"></i></h2>
      <div class="graph">
        <form name="graph-frm" id="graph-form">
          <ul>
            <li>혈당 <input type="number" id="blood_sugar" name="blood_sugar"> mg/dL</li>
            <li>혈압 <input type="number" id="blood_press" name="blood_press"> mmHg</li>
            <li>몸무게 <input type="number" id="weight" name="weight" class="weight"> kg</li>
          </ul>
          <button type="submit" class="save-button">저 장</button>
        </form>
      </div>
      <div class="cumulative-count">
        <div class="cumulative-title">
          <span>내가 달성한 주간 목표 수 <i class="fa-solid fa-medal"></i> </span>
          <span>내가 운동 기록한 횟수 <i class="fa-solid fa-medal"></i> </span>
        </div>
        <div class="cumulative-total">
          <span id="weekly-goal-count">0회</span>
          <span id="exercise-count">0회</span>
        </div>
      </div>
    </div>
  </div>

  <div class="exercise-entry">
    <form>
      <div class="exercise-type">
        운동 종류 :
        <span id="selected-exercise"></span>
        <i class="exercise-type-popup-btn fa-solid fa-plus"></i>
        <button id="reset-exercise-btn" type="button" style="/*display: none;*/"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <input type="hidden" id="selected-exercise-name" name="exerciseName">
      <input type="hidden" id="selected-exercise-met" name="met">

      <div class="exercise-time">
        <input type="hidden" id="selected-date" name="selectdate">
        운동 시간 :
        <select id="hour" name="hour">
          <option value="00" selected>0시간</option>
          <option value="01">1시간</option>
          <option value="02">2시간</option>
          <option value="03">3시간</option>
          <option value="04">4시간</option>
          <option value="05">5시간</option>
        </select> :
        <select id="minute" name="minute">
          <option value="00" selected>0분</option>
          <option value="15">15분</option>
          <option value="30">30분</option>
          <option value="45">45분</option>
        </select>
      </div>
      <button type="submit" class="exercise-save">저 장</button>
    </form>
  </div>

  <div class="calendar" id="calendar"></div>

</section>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>

<!--js-->
<script src="/js/exerciseMain.js"></script>

</body>
</html>