<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href= "/css/common/header-footer.css" type="text/css" rel="stylesheet">
</head>
<body>
<!-- 푸터 -->
<footer>
    <p>
        ⓒ 2025 carepoint. All rights reserved. carepoint
        <a href="https://github.com/lkhyun-0/carepoint_git" target="_blank">github</a>
        <a href="https://www.notion.so/carePoint-project-17ce52c655488008a7f2c69ad2f287cf" target="_blank">notion</a>
    </p>
    <p>
        Inseo99 :
        <a href="https://velog.io/@rladlstj990/posts" target="_blank">velog</a>
        <a href="https://github.com/Inseo99" target="_blank">github</a>
        | 22na :
        <a href="https://velog.io/@inai22/posts" target="_blank">velog</a>
        <a href="https://github.com/LEEINAH?tab=repositories" target="_blank">github</a>
    </p>
    <p>
        hyun-0 :
        <a href="https://velog.io/@lkhyun-0/posts" target="_blank">velog</a>
        <a href="https://github.com/lkhyun-0?tab=repositories" target="_blank">github</a>
        | seul :
        <a href="https://velog.io/@dltmfsus/posts" target="_blank">velog</a>
        <a href="https://github.com/eseul2" target="_blank">github</a>
    </p>


</footer>

</body>
</html>