<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>병원/약 일정관리</title>
    <link href="/css/plan/plan.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <!--컬러 피커 코드-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
    <script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
</head>
<body>
<!--header-->
<div th:insert="~{/common/header.html}"></div>

<!--popup-->
<div class="detail-popup">
    <div class="tab-buttons">
        <button class="tab active" data-tab="tab1">병원 일정</button>
        <button class="tab" data-tab="tab2">약 일정</button>
    </div>
    <div class="detail-content active" id="tab1">
        <button onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
        <div class="content-title hospital-title">일정이 없습니다.</div>
        <div class="content-info">
            <table class="hospital-table">
                <tr>
                    <th>시간</th>
                    <td></td>
                </tr>
                <tr>
                    <th>병원 이름</th>
                    <td></td>
                </tr>
                <tr>
                    <th>병원 주소</th>
                    <td></td>
                </tr>
                <tr>
                    <th>지도</th>
                    <td>
                        <div id="popup-map" style="height:350px;"></div>
                    </td>
                </tr>
            </table>
            <button class="btn delete-btn hospital" onclick="">삭제</button>
        </div>
    </div>
    <div class="detail-content" id="tab2">
        <button onclick="closeModal()"><i class="fa-solid fa-xmark"></i></button>
        <div class="content-title medicine-title">일정이 없습니다.</div>
        <div class="content-info">
            <table class="medicine-table">
                <tr>
                    <th>선택</th>
                    <th>시간</th>
                    <th>약 이름</th>
                    <th>약 유형</th>
                </tr>
            </table>
            <button class="btn delete-btn medicine" onclick="">삭제</button>
        </div>
    </div>
</div>

<!--main-->
<section class="main">
    <div id="calendar"></div>
    <div class="plan">
        <div class="hospital-plan">
            <div class="plan-title">🏥 병원 일정 입력하기</div>
            <div class="plan-content">
                <div class="plan-favorite">
                    최근 등록한 일정 <img class="star" src="/images/star.jpg" alt="">
                </div>
                <div class="favorite-list">
                    <button type="button" class="hospital-recent" th:each="hospital, iterStat : ${hospitalList}" th:if="${iterStat.index} < 3" th:text="${hospital.hospitalName}"></button>
                </div>
                <div class="plan-input">
                    <form name="form1" onsubmit="return hospitalSave(event);">
                        <div class="date-input">
                            <label for="select-date">날짜 :</label>
                            <input type="date" id="select-date" name="select-date" required>
                        </div>
                        <div class="time-input">
                            <label for="hospital-time">시간 :</label>
                            <input type="time" id="hospital-time" name="hospital-time" required>
                        </div>
                        <div class="info-input">
                            <label for="hospital-info">병원정보 :</label>
                            <input type="text" id="hospital-info" name="hospital-info" placeholder="병원 이름 입력" required>
                            <button type="button" id="search-button"><i class="fa-solid fa-magnifying-glass"></i>
                            </button>

                            <!-- 검색 결과 리스트 -->
                            <div>
                                <ul id="hospital-list" style="display:none;"></ul>
                            </div>

                            <!-- 지도 -->
                            <div id="map" style="width: 100%; height: 300px; margin-top: 10px;"></div>

                            <!-- 숨겨진 필드 (검색된 병원 정보 저장용) -->
                            <input type="hidden" id="hospital-lat" name="hospital-lat">
                            <input type="hidden" id="hospital-lng" name="hospital-lng">
                            <input type="hidden" id="hospital-address" name="hospital-address">
                        </div>
                        <small style="font-size: 10px;">검색 시 정보가 없으면 지도와 주소가 뜨지않습니다.</small>
                        <button type="submit" class="btn">등록</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="medicine-plan">
            <div class="plan-title"><img class="medicine" src="/images/medicine.jpg" alt=""> 약 일정 입력하기</div>
            <div class="plan-content">
                <div class="plan-favorite">
                    최근 등록한 일정 <img src="/images/star.jpg" alt="">
                </div>
                <div class="favorite-list">
                    <button type="button" class="medicine-recent" th:each="medicine, iterStat : ${medicineList}" th:if="${iterStat.index} < 3" th:text="${medicine.medicineName}"></button>
                </div>
                <div class="plan-input">
                    <form name="form2" onsubmit="return medicineSave(event);">
                        <div class="date-input">
                            <label for="start-date">날짜 :</label>
                            <input type="date" id="start-date" name="start-date" required>
                            <label for="end-date"> - </label>
                            <input type="date" id="end-date" name="end-date" required>
                            <div class="color-field">
                                <button type="button"></button>
                                <input type="text" class="colorPicker" value="#6dd984">
                                <input type="hidden" id="medicineColor" name="medicineColor" value="#6dd984">
                            </div>
                        </div>
                        <div class="time-input">
                            <label for="medicine-time">시간 :</label>
                            <input type="time" id="medicine-time" name="medicine-time" required>
<!--                            <button type="button" class="add-time"><i class="fa-solid fa-circle-plus"></i></button>-->
                            <div class="time-container"></div>
                        </div>
                        <div class="name-input">
                            <label for="medicine-name">약 이름 :</label>
                            <input type="text" id="medicine-name" name="medicine-name" placeholder="약 이름 입력" required>
                        </div>
                        <div class="type-input">
                            <label>약 유형 :</label>
                            <input type="hidden" id="medicineType" name="medicineType">
                            <div class="medicine-types">
                                <img src="/images/medicine.jpg" alt="약" class="medicine-type" data-type="1">
                                <img src="/images/syringe.jpg" alt="주사기" class="medicine-type" data-type="2">
                            </div>
                        </div>
                        <button class="btn" type="submit">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>

<!--js-->
<script src="/js/plan.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Lr0W0_S0gchFmLITwOCGGDrjiZCav1E&libraries=places&callback=initMap">
</script>

</body>
</html>