<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet Tracker</title>
    <link rel="stylesheet" href="/css/food/foodRecord.css">
</head>
<body>

<div class="container">
    <!-- 상단 탭 -->
    <div class="tabs">
        <a href="/food/record" class="tab-button">기록</a>
        <a href="/food/list" class="tab-button">목록</a>
        <a href="/food/analysis" class="tab-button active">내 식단 분석</a>
    </div>

    <!-- 외곽 박스 -->
    <div class="outer-container">

    </div>
</div>

</body>
</html>
