<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>식단 기록</title>
  <link rel="stylesheet" href="/css/common/header-footer.css"> <!-- 헤더/푸터 CSS -->
  <link rel="stylesheet" href="/css/food/foodRecord.css">
</head>
<body>


<div class="container">
  <!-- 상단 탭 -->
  <div class="tabs">
    <a href="/food/record" class="tab-button active">기록</a>
    <a href="/food/list" class="tab-button">목록</a>
    <a href="/food/analysis" class="tab-button">내 식단 분석</a>
  </div>

  <!-- 외곽 박스 -->
  <div class="outer-container">
    <div class="content-wrapper">
      <div class="card morning">
        <button class="plus-button">+</button>
        <div class="icon"><img src="/images/아침.png" alt="아침"></div>
        <div class="title">아침</div>
      </div>
      <div class="card lunch">
        <button class="plus-button">+</button>
        <div class="icon"><img src="/images/점심.png" alt="점심"></div>
        <div class="title">점심</div>
      </div>
      <div class="card dinner">
        <button class="plus-button">+</button>
        <div class="icon"><img src="/images/저녁.png" alt="저녁"></div>
        <div class="title">저녁</div>
      </div>
      <div class="card idea">
        <button class="plus-button">+</button>
        <div class="icon idea"><img src="/images/전구.png" alt="전구"></div>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
