.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top : 200px;
    margin-bottom : 100px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}

.tabs {
    display: flex;
    justify-content: flex-start; /* 탭을 왼쪽 정렬 */
    width: 740px; /* 테이블과 동일한 너비로 중앙 정렬 유지 */
    margin-left: auto; /* 화면 가운데 정렬 유지 */
    margin-right: auto; /* 화면 가운데 정렬 유지 */
}

.tab {
    width: 118px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    color: black;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 20px;
}

.tab.active {
    background-color: #4169E1;
    color: white;
    border: 1px solid #4169E1;
    border-bottom: none;
}

.table-container {
    width: 740px;
    height: auto;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: -1px; /* 탭과 테이블 경계 제거 */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 17px;
    table-layout: fixed;
}

ul, li {
    background-color: white; /* 명시적으로 흰색 배경 설정 */
}

td ul {
    margin-top: 15px; /* 위쪽 여백 추가 */
}


th, td {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: middle; /* 텍스트 중앙 정렬 */
    white-space: normal; /* 텍스트 줄바꿈 허용 */
    word-wrap: break-word; /* 긴 텍스트 줄바꿈 */
    overflow-wrap: break-word; /* 브라우저 호환성을 위한 추가 */
}


/* 제목 열 */
th {
    font-weight: bold;
    font-size: 20px;
}


.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #3657b5;
}


/* 탭 콘텐츠 */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

