main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 500px;

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    width: 200px;
}

.form-group input,
.form-group select {
    width: 170px;
    padding: 10px;
    font-size: 14px;
    border: none ;
    border-radius: 4px;
    border-bottom: solid 1px #dddddd;
    text-align: right; /* 텍스트 오른쪽 정렬 */
}

.form-group span {
    margin-left: 5px; /* 단위와 입력 필드 간격 조정 */
    font-size: 14px;
}

.toggle-group {
    display: flex; /* 버튼을 한 줄로 배치 */
    justify-content: space-between;
    gap: 10px; /* 버튼 간격 조정 */
    margin-top: 10px;
    font-size: 13px;

}

.toggle-btn {
    flex-grow: 1; /* 버튼 크기 동일화 */
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: solid #ddd thin;
    text-align: center; /* 텍스트 중앙 정렬 */


}

.toggle-btn:hover {
    background-color: #4169E1; /*호버시*/
    color: white;
}



.toggle-btn .selected {
    background-color: #4169E1; /* 선택된 버튼 색상 */
    color: white;
}



button[type='submit'] {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #4169E1;
    color: white;
    border-radius: 4px;
    border : none;
}
