<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/notice/noticeContent.css" type="text/css" rel="stylesheet">
    <title>공지사항 내용</title>
    <script th:if="${msg}">
        alert("[[${msg}]]");
    </script>
</head>
<body>
<!--header-->
<div th:insert="~{/common/header.html}"></div>

<div class="article-container">
    <div class="article-title" th:text="${notice.title}"></div>

    <div class="info-bar">
        <div class="info-left">
            <span>[관리자] |</span>
            <span th:text="${#temporals.format(notice.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
    </div>
    <div class="article-content" th:text="${notice.content}"></div>

    <div class="actions">
        <!-- 목록으로 버튼 -->
        <a href="/notice/noticeList" class="btn btn-left">목록</a>
        <!-- 수정 및 삭제 버튼 -->
        <div class="btn-group">
            <a th:href="@{/notice/noticeModify/{id}(id=${notice.articlePk})}" class="btn">수정</a>
            <form th:action="@{/notice/noticeDeleteAction/{id}(id=${notice.articlePk})}" method="post" onsubmit="return confirmDelete()">
            <button type="submit" class="btn del-btn">삭제</button>
            </form>
        </div>
    </div>
</div>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>


<script>
    function confirmDelete() {
        return confirm("정말 삭제하시겠습니까?");
    }
</script>
</body>
</html>