<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/notice/noticeContent.css" type="text/css" rel="stylesheet">
    <title>공지사항 내용</title>
</head>
<body>
<!--header-->
<div th:insert="~{/common/header.html}"></div>

<div class="article-container">
    <div class="article-title">12월 1일 긴급 점검 있습니다.</div>
    <div class="info-bar">
        <div class="info-left">
            <span>[관리자] |</span>
            <span>2024-12-26 18:10:48</span>
        </div>
    </div>
    <div class="article-content">
        점검 있습니다. 다들 접속하지 마세요
    </div>
    <div class="actions">
        <!-- 목록으로 버튼 -->
        <a href="#" class="btn btn-left">목록</a>
        <!-- 수정 및 삭제 버튼 -->
        <div class="btn-group">
            <a href="#" class="btn">수정</a>
            <a href="#" class="btn">삭제</a>
        </div>
    </div>
</div>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>
</body>
</html>