<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A 게시글 상세보기</title>
    <link href="/css/board/boardContent.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:insert="~{/common/header.html}"></div>
<div class="container">
  <div class="title">목표 설정 어떻게 하나요?</div>
  <div class="info-bar">
    <div class="info-left">
      <span>22na |</span>
      <span>2025-01-31</span>
    </div>
  </div>
  <div class="board-content">
    설정 어떻게 하는지 알려주세요
  </div>
  <div class="actions">
    <!-- 목록으로 버튼 -->
    <a class="btn btn-left" href="#" >목록</a>
    <!-- 수정 및 삭제 버튼 -->
    <div class="btn-group">
      <a class="btn" href="#">답변</a>
      <a class="btn" href="#">수정</a>
      <form name="deletefrm">
        <button type="button" class="btn" onclick="deleteCheck();">삭제</button>
      </form>
    </div>
  </div>
</div>
<!--footer-->
<div th:insert="~{/common/footer.html}"></div>
</body>
</html>