<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link href="/css/user/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<!--header-->
<div th:insert="~{/common/header.html}"></div>
<div class="main-container">
    <div class="grid-container">
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-운동이미지.png" alt="운동">
                <div class="overlay">
                    <p class="overlay-text">운동</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-의사.webp" alt="의사">
                <div class="overlay">
                    <p class="overlay-text">의사</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-커뮤니티.png" alt="게시판">
                <div class="overlay">
                    <p class="overlay-text">커뮤니티</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-식단.webp" alt="식단">
                <div class="overlay">
                    <p class="overlay-text">식단</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-자가진단.jpg" alt="자가진단">
                <div class="overlay">
                    <p class="overlay-text">자가진단체크리스트</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="image-container">
                <img src="/images/main-지도.png" alt="위치">
                <div class="overlay">
                    <p class="overlay-text">가까운병원찾기</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>

</body>
</html>


