<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link href="/css/user/main.css" type="text/css" rel="stylesheet">
</head>
<body>

<!-- Header -->
<div th:insert="~{/common/header.html}"></div>

<div class="main-container">
    <div class="grid-container">

        <div class="grid-item">
            <a href="/food/recom" class="image-container">
                <img src="/images/식단이미지.jpeg" alt="식단">
                <div class="overlay">
                    <p class="overlay-text">
                        식단관리<br>
                        <span class="overlay-description">AI가 추천하는 식단과 꾸준한 기록을 해봅시다 !</span>
                    </p>
                </div>
            </a>
        </div>




        <div class="grid-item">
            <a href="/exercise/exerciseMain" class="image-container">
                <img src="/images/main-운동이미지.png" alt="운동">
                <div class="overlay">
                    <p class="overlay-text">
                        운동<br>
                        <span class="overlay-description">매일 조금씩이라도 운동하고 기록해보세요 !</span>
                    </p>
                </div>
            </a>
        </div>



        <div class="grid-item">
            <a href="/user/selfCheckList" class="image-container">
                <img src="/images/main-자가진단.jpg" alt="자가진단">
                <div class="overlay">
                    <p class="overlay-text">
                        자가진단체크리스트<br>
                        <span class="overlay-description">당뇨, 고혈압, 비만을 자가진단 해보세요 !</span>
                    </p>
                </div>
            </a>
        </div>







        <div class="grid-item">
            <a href="/plan/plan" class="image-container">
                <img src="/images/병원이미지.jpg" alt="병원">
                <div class="overlay">
                    <p class="overlay-text">
                        병원/약 일정관리<br>
                        <span class="overlay-description">병원 방문일정과 약복용을 관리해보세요!</span>
                    </p>
                </div>
            </a>
        </div>





        <div class="grid-item">
            <a href="/plan/hospital" class="image-container">
                <img src="/images/hospital.png" alt="가까운병원찾기">
                <div class="overlay">
                    <p class="overlay-text">
                        가까운 병원찾기<br>
                        <span class="overlay-description">내 주변 병원이 어디있는지 찾아보세요!</span>
                    </p>
                </div>
            </a>
        </div>


        <div class="grid-item">
            <a href="/free/freeList" class="image-container">
                <img src="/images/main-커뮤니티.png" alt="커뮤니티">
                <div class="overlay">
                    <p class="overlay-text">
                        커뮤니티<br>
                        <span class="overlay-description">~~~~~~~~~~~~~~</span>
                    </p>
                </div>
            </a>
        </div>


    </div>
</div>

<!-- Footer -->
<div th:insert="~{/common/footer.html}"></div>

</body>
</html>


