<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link href="/css/user/mypage.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:insert="~{/common/header.html}"></div>
<input type="hidden" id="userPk" th:value="${session.userPk}">

<div class="main-container">
    <div class="top-section">
        <!-- 회원정보 + 그래프 나타는 부분 -->
        <div class="info-container">
            <div class="user-profile-photo"><img src="" alt="user-profile-photo"></div>
            <div class="user-info">
                <button id="openModal" class="modify-btn">수정하기</button>
                <ul>
                    <li>닉네임 : <span th:text="${userInfo != null ? userInfo.userNick : '정보 없음'}"></span></li>
                    <li>아이디 : <span th:text="${userInfo != null ? userInfo.userId : '정보 없음'}"></span></li>
                    <li>이메일 : <span th:text="${userInfo != null ? userInfo.email : '정보 없음'}"></span></li>
                    <li>전화번호 : <span th:text="${userInfo != null ? userInfo.phone : '정보 없음'}"></span></li>
                    <li>가입일 : <span th:text="${userInfo != null ? userInfo.joinDate : '정보 없음'}"></span></li>
                    <li>키 / 체중 :
                        <span th:text="${detailDto != null ? (detailDto.height + 'cm / ' + detailDto.weight + 'kg') : '정보 없음'}"></span>
                    </li>
                    <li>흡연 / 음주 :
                        <span th:text="${detailDto != null ? (detailDto.smoke == 1 ? '🚬' : '❌') + ' / ' + (detailDto.drink == 1 ? '🍺' : '❌') : '정보 없음'}"></span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- 그래프 섹션 -->
        <div class="graph-info">
            <canvas id="progressChart"></canvas>
            <p id="noDataMessage" class="no-data-message" style="display: none;">
                <a href="#">아직 입력된 데이터가 없습니다. 건강 기록을 추가해주세요!</a>
            </p>
        </div>
    </div>
    <div class="post-container">
        <ul class="tab-bar">
            <li><a href="#free-list">자유</a></li>
            <li><a href="#qna-list">Q&A</a></li>
        </ul>
        <div class="tabcontent">
            <!-- 자유 글 목록 -->
            <div id="free-list" class="tab-pane active">
                <table class="table-style">
                    <thead>
                    <tr>
                        <th>작성일</th>
                        <th>제목</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2025.01.05</td>
                        <td>내가 작성한 자유글1</td>
                        <td>3</td>
                    </tr>
                    <!-- 반복 데이터 -->
                    <tr>
                        <td>2025.01.05</td>
                        <td>내가 작성한 자유글 2</td>
                        <td>3</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!-- Q&A 글 목록 -->
            <div id="qna-list" class="tab-pane">
                <table class="table-style">
                    <thead>
                    <tr>
                        <th>작성일</th>
                        <th>제목</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2025.01.05</td>
                        <td>문의합니다~ 1</td>
                        <td>3</td>
                    </tr>
                    <!-- 반복 데이터 -->

                    </tbody>
                </table>
            </div><!-- tabcontent -->
        </div><!-- post-container -->

    </div>

    <!-- 모달 창 -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>회원정보 수정하기</h2>
            <div class="modal-body">
                <ul>
                    <li>
                        <label>전화번호:</label>
                        <input type="text" id="modal-phone" name="phone"
                               th:value="${userInfo != null ? userInfo.phone : ''}">
                    </li>
                    <li>
                        <label>이메일:</label>
                        <input type="email" id="modal-email" name="email"
                               th:value="${userInfo != null ? userInfo.email : ''}">
                    </li>
                    <li>
                        <label for="password">비밀번호: </label>
                        <input type="password" id="password" name="password"
                               th:value="${userInfo != null ? userInfo.userPwd : ''}">
                    </li>
                    <li>
                        <label for="height">신장(cm):</label>
                        <input type="number" id="height" name="height"
                               th:value="${detailDto != null ? detailDto.height : ''}">
                    </li>
                    <li>
                        <label for="weight">체중(kg):</label>
                        <input type="number" id="weight" name="weight"
                               th:value="${detailDto != null ? detailDto.weight : ''}">
                    </li>

                    <li>
                        <label>흡연:</label>
                        <div class="radio-group">
                            <input type="radio" id="smoke-yes" name="smoke" value="1"
                                   th:checked="${detailDto != null and detailDto.smoke == 1}">
                            <label for="smoke-yes" class="radio-label yes-btn">Yes</label>

                            <input type="radio" id="smoke-no" name="smoke" value="0"
                                   th:checked="${detailDto != null and detailDto.smoke == 0}">
                            <label for="smoke-no" class="radio-label no-btn">No</label>
                        </div>
                    </li>

                    <li>
                        <label>음주:</label>
                        <div class="radio-group">
                            <input type="radio" id="drink-yes" name="drink" value="1"
                                   th:checked="${detailDto != null and detailDto.drink == 1}">
                            <label for="drink-yes" class="radio-label yes-btn">Yes</label>

                            <input type="radio" id="drink-no" name="drink" value="0"
                                   th:checked="${detailDto != null and detailDto.drink == 0}">
                            <label for="drink-no" class="radio-label no-btn">No</label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="modal-footer">
                <button class="modal-btn delete-btn" onclick="deleteUser();">탈퇴하기</button>
                <button class="modal-btn save-btn" onclick="updateUserInfo();">수정하기</button>
            </div>
        </div>
    </div>
</div>
<!--header-->
<div th:insert="~{/common/footer.html}"></div>
<script th:src="@{/js/mypage.js}"></script>  <!-- Thymeleaf 경로 바인딩 -->
</body>


</html>