<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자가진단 체크리스트</title>
    <link href="/css/user/self.css" type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="/common/header.html"></div>

<div class="tabs-container">
    <!-- 탭 버튼 -->
    <div class="tab-buttons">
        <button class="tab-button active" data-tab="tab1">당뇨</button>
        <button class="tab-button" data-tab="tab2">비만</button>
        <button class="tab-button" data-tab="tab3">고혈압</button>
    </div>

    <!-- 탭 콘텐츠 -->
    <div class="tab-content active" id="tab1">
        <h2>당뇨 자가진단체크리스트</h2>
        <table class="table-container">
            <thead>
            <tr>
                <th>증상</th>
                <th>체크</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>목이 자주 마르고 침이 잘 안 나온다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>화장실 가는 횟수가 늘어났다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>아무리 먹어도 공복감이 생기고 식욕이 왕성하다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>점점 살이 빠지고 몸이 야위어 간다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>항상 나른하고 매사가 귀찮다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>부스럼이 잘 일어나고 습진, 무좀이 생긴다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>눈에 초첨이 잘 안잡히고 증상이 잦다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>잇몸 염증이 자주 발생하고 피가 난다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>가족중에 당뇨환자가 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" id="showResultButton1" class="submit-button">당뇨 자가진단결과보기</button>
        <!--이거 클릭하면 결과 보여주기 팝업 사용-->
    </div>  <!--당뇨 체크리스트-->
    <div class="tab-content" id="tab2">
        <div class="bmi-container">
            <h1 class="bmi-title">나의 BMI 지수 알아보기</h1>

            <p>간단하게 측정하는 방법으로 체질량지수(BMI)가 있습니다.</p>
            <p>하단에 신장과 체중을 입력해주세요.</p>

            <!-- 입력 폼 -->
            <form id="bmiForm" class="bmi-form">
                <div class="form-inline">
                    <label for="height" style="width: 50px;">키:</label>
                    <input type="number" id="height" placeholder="예) 170" required>
                    <span>/</span>
                    <label for="weight">몸무게:</label>
                    <input type="number" id="weight" placeholder="예) 65" required>
                    <button type="submit" class="bmi-button">계산하기</button>
                </div>
            </form>

            <!-- BMI 결과 -->
            <div id="bmiResult" class="result" style="display: none;">
                <h2>결과</h2>
                <p>BMI 지수는 <span id="bmiValue" class="bmi-value"></span>입니다.</p>
                <p id="statusMessage"></p>
                <p>표준 체중은 <span id="standardWeight" class="standard-weight"></span>kg입니다.</p>

                <!-- BMI 바 -->
                <div class="bmi-bar-container">
                    <ul class="bmi-ul">
                        <li>저체중</li>
                        <li>정상</li>
                        <li>과체중</li>
                        <li>비만</li>
                    </ul>
                    <div class="bmi-bar">
                        <div id="underweightBar" class="bar-section underweight"></div>
                        <div id="normalBar" class="bar-section normal"></div>
                        <div id="overweightBar" class="bar-section overweight"></div>
                        <div id="obeseBar" class="bar-section obese"></div>
                    </div>
                    <ul class="bmi-numbers">
                        <li>18.5</li>
                        <li>23</li>
                        <li>25</li>
                    </ul>
                </div>
            </div>

        </div>

    </div><!-- 비만 체크리스트 -->
    <div class="tab-content" id="tab3">
        <h2>자가진단체크리스트</h2>
        <table class="table-container">
            <thead>
            <tr>
                <th>증상</th>
                <th>체크</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>부모 중 고혈압을 앓고 있는 분이 계시다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>평소 음식을 짜고 맵게 먹는 편이다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>담배를 하루에 반 갑 이상 피운다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>술을 1주일에 3회 이상 마신다</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>체중이 많이 나가는 편이다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>나이가 45세 이상이다.(여자는 55세)</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>현재 당뇨병을 앓고 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>규칙적으로 하는 운동이 없다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>성격이 급하고 화를 잘 내는 편이다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>평소 튀김같은 기름기 많은 음식을 즐겨 먹는다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>뒷목이 자주 뻣뻣하다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>특별한 이유 없이 갑자기 어지러워지는 경우가 자주 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>조금만 움직이거나 계단을 한 층 정도만 올라가도 금방 숨이 찬다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>쉽게 피로해지고 늘 피곤한 느낌이 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>가끔 가슴이 울렁거리고 맥박이 고르지 않게 뛴다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>갑자기 가슴에 통증이 오고 이 통증이 어깨나 등으로 번진다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>잠을 자다 숨이 차 깨는 경우가 자주 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>귀속에서 윙 하는 소리가 들리는 경우가 자주 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>베개를 높여야 편안하게 잘 수 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>팔, 다리가 자주 저리다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>골치가 자주 아프고, 이때 거의 대부분 구역질이 같이 생긴다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>발이 자주 붓는다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>감기에 걸린 것도 아닌데 기침을 자주 한다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>소변을 볼 때마다 통증이 있다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>
            <tr>
                <td>눈이 침침하고 눈 앞에 실오라기 같은 것이 떠 다닌다.</td>
                <td><input type="checkbox" class="checklist-item"></td>
            </tr>

            </tbody>
        </table>
        <button type="button" id="showResultButton2" class="submit-button">고혈압 자가진단결과보기</button>
        <!--이거 클릭하면 결과 보여주기 팝업 사용-->
    </div>  <!--고혈압자가진단 리스트-->

    <!-- 팝업 모달 -->
    <div id="resultModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>자가진단결과</h2>
            <p id="resultMessage">총 체크 항목 <span id="checkedCount"></span>개<br>가까운 병원을 내원하셔서 검진을 받아보시길 추천드립니다.</p>
            <div class="modal-buttons">
                <a href="#" id="mainPageButton" class="modal-button">메인페이지</a>
                <a href="#" id="hospitalButton" class="modal-button">내근처병원</a>
            </div>
        </div>
    </div>
</div>

<div th:insert="/common/footer.html"></div>
<script>
    // 모든 탭 버튼과 콘텐츠 가져오기
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    // 각 버튼에 클릭 이벤트 추가
    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // 모든 버튼과 콘텐츠 비활성화
            tabButtons.forEach(btn => btn.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active'));

            // 클릭된 버튼과 관련된 콘텐츠 활성화
            button.classList.add('active');
            const tabId = button.getAttribute('data-tab');
            document.getElementById(tabId).classList.add('active');
        });
    });


    document.getElementById('bmiForm').addEventListener('submit', function (event) {
        event.preventDefault(); // 폼 제출 방지

        // 입력 값 가져오기
        const height = parseFloat(document.getElementById('height').value) / 100; // cm -> m 변환
        const weight = parseFloat(document.getElementById('weight').value);

        if (!height || !weight) {
            alert("키와 몸무게를 올바르게 입력해주세요.");
            return;
        }

        // BMI 계산
        const bmi = (weight / (height * height)).toFixed(1);

        // 표준 체중 계산 (예: BMI 22 기준)
        const standardWeight = (22 * height * height).toFixed(1);

        // 결과 표시
        const resultContainer = document.getElementById('bmiResult');
        const bmiValueElement = document.getElementById('bmiValue');
        const standardWeightElement = document.getElementById('standardWeight');

        bmiValueElement.textContent = bmi;
        standardWeightElement.textContent = standardWeight;

        // BMI 상태에 따른 메시지 추가
        let statusMessage = "";
        if (bmi < 18.5) {
            statusMessage = "저체중입니다.";
        } else if (bmi >= 18.5 && bmi < 24.9) {
            statusMessage = "정상 체중입니다.";
        } else if (bmi >= 25 && bmi < 29.9) {
            statusMessage = "과체중입니다.";
        } else {
            statusMessage = "비만입니다.";
        }

        document.getElementById('statusMessage').textContent = statusMessage;

        // 결과 컨테이너 표시
        resultContainer.style.display = 'block';
    });

    // 모달 요소 가져오기
    const modal = document.getElementById("resultModal");
    const closeModal = document.querySelector(".close");
    const showResultButton1 = document.getElementById("showResultButton1");
    const showResultButton2 = document.getElementById("showResultButton2");
    const checkedCountElement = document.getElementById("checkedCount");

    // 결과 보기 버튼 클릭 시 모달 열기
    showResultButton1.addEventListener("click", function () {
        // 체크박스 개수 계산
        // 고혈압 체크리스트의 체크박스만 선택
        const checkboxes = document.querySelectorAll("#tab1 .checklist-item");
        let checkedCount = Array.from(checkboxes).filter(cb => cb.checked).length;

        // 체크된 개수 업데이트
        checkedCountElement.textContent = checkedCount;

        // 결과 메시지 업데이트 (조건에 따라 변경 가능)
        const resultMessage = document.getElementById("resultMessage");


        if (checkedCount >= 3) {
            resultMessage.innerHTML = `총 체크 항목 ${checkedCount}개<br>가까운 병원을 내원하셔서 검진을 받아보시길 추천드립니다.`;
        } else if (checkedCount < 3) {
            resultMessage.innerHTML = `총 체크 항목 ${checkedCount}개<br>잘 관리하고 계시군요! 꾸준한 관리를 통해 건강을 유지하세요!`;
        } else if (checkedCount <= 0) {
            resultMessage.innerHTML = `아무 항목도 선택되지 않았습니다.<br>증상이 있는 경우 체크해주세요!`;
        }

        // 모달 표시
        modal.style.display = "block";
    });

    // 결과 보기 버튼 클릭 시 모달 열기
    showResultButton2.addEventListener("click", function () {
        // 고혈압 체크리스트의 체크박스만 선택
        const checkboxes = document.querySelectorAll("#tab3 .checklist-item");
        let checkedCount = Array.from(checkboxes).filter(cb => cb.checked).length;

        // 체크된 개수 업데이트
        checkedCountElement.textContent = checkedCount;

        // 결과 메시지 업데이트 (조건에 따라 변경 가능)
        const resultMessage = document.getElementById("resultMessage");

        // 조건 설정 (예시로 당뇨는 >=5, 다른 체크리스트는 >=8로 구분)
        if (checkedCount >= 8) {
            resultMessage.innerHTML = `총 체크 항목 ${checkedCount}개<br>가까운 병원을 내원하셔서 검진을 받아보시길 추천드립니다.`;
        } else if (checkedCount >= 0) {
            resultMessage.innerHTML = `총 체크 항목 ${checkedCount}개<br>잘 관리하고 계시군요! 꾸준한 관리를 통해 건강을 유지하세요!`;
        } else {
            resultMessage.innerHTML = `아무 항목도 선택되지 않았습니다.<br>증상이 있는 경우 체크해주세요!`;
        }

        // 모달 표시
        modal.style.display = "block";
    });

    // 닫기 버튼 클릭 시 모달 닫기
    closeModal.addEventListener("click", function () {
        modal.style.display = "none";
    });

    // 모달 외부 클릭 시 닫기
    window.addEventListener("click", function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    });


</script> <!--자가진단 팝업 스크립트-->



</body>


</html>
