<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/free/list.css" type="text/css" rel="stylesheet">
    <title>자유게시판 목록</title>
</head>
<body>
<script th:if="${msg != null}" th:inline="javascript">
    alert('[[${msg}]]'); // 작은따옴표로 문자열로 처리
</script>

<!--header-->
<div th:insert="~{/common/header.html}"></div>

<section class="main">
    <form class="search" name="frm" action="" method="get">
        <div class="searchDiv">
            <input type="text" name="keyword" onkeyup="showDropdown(this.value)" autocomplete="off">
            <div class="search-dropdown" id="searchDropdown" style="display: none;"></div>
            <button type="submit" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
        </div>
    </form>

    <div class="listDiv">
        <table class="listTable">
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>

            <tr th:each="free : ${freeList}">
                <td class="No" th:text="${pageMaker.totalCount - (freeStat.index + (scri.page - 1) * scri.perPageNum)}"></td>
                <td class="subject"><a th:href="@{/free/freeContent/{id}(id=${free.articlePk})}" th:text="${free.title}"></a></td>
                <td class="writer" th:text = "${free.userNick}"></td>
                <td class="writeday" th:text = "${#temporals.format(free.regDate, 'yyyy-MM-dd')}"></td>
            </tr>

        </table>
    </div>

    <div class="write">
        <a href="/free/freeWrite" class="write-btn">글쓰기</a>
    </div>

    <div class="page">
        <ul>
            <li th:if="${pageMaker.prev}">
                <a class="prev" th:href="@{/free/freeList(page=${pageMaker.startPage - 1}, keyword=${scri.keyword}, searchType=${scri.searchType})}">◀</a>
            </li>
            <li th:each="i : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}"
                th:classappend="${i == scri.page} ? 'on' : ''">
                <a th:href="@{/free/freeList(page=${i}, keyword=${scri.keyword}, searchType=${scri.searchType})}" th:text="${i}"></a>
            </li>
            <li th:if="${pageMaker.next}">

                <a class="next" th:href="@{/free/freeList(page=${pageMaker.endPage + 1}, keyword=${scri.keyword}, searchType=${scri.searchType})}">▶</a>
            </li>
        </ul>
    </div>
</section>
<!-- 여백 -->
<div style="height: 100px;"></div>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>
</body>
</html>