<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/free/write.css" type="text/css" rel="stylesheet">
    <title>자유게시판 작성</title>
</head>
<body>
<script th:if="${msg != null}" th:inline="javascript">
    alert('[[${msg}]]'); // 작은따옴표로 문자열로 처리
</script>

<!--header-->
<div th:insert="~{/common/header.html}"></div>

<section class="main">
    <h2>글 작성</h2>
    <div class="edit-container">
        <form name="freeForm" action="/free/freeWriteAction" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목을 입력해주세요">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" placeholder="내용을 입력해주세요"></textarea>
            </div>
            <div class="form-group">
                <label for="attachfile">📁첨부파일</label>
                <input type="file" id="attachfile" name="attachfile" accept="image/*">
            </div>
            <div class="form-actions">
                <button type="submit" class="buttons">저장</button>
                <button type="button" class="buttons" onclick="history.back();">취소</button>
            </div>
        </form>
    </div>
</section>

<!--footer-->
<div th:insert="~{/common/footer.html}"></div>

<script src="/js/freewrite.js"></script>

</body>
</html>