<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A 글 답변</title>
    <link href="/css/qna/write.css" rel="stylesheet">
</head>
<body>
<div th:insert="/common/header.html"></div>
<section class="main">
    <h2>문의글 답변</h2>
    <div class="edit-container">
        <form name="frm">
            <input type="hidden" name="origin_num" value="${bv.origin_num}">

            <div class="form-group">
                <label for="subject">제목</label>
                <input type="text" id="subject" name="subject" placeholder="제목을 입력해주세요" >
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" placeholder="답변할 내용을 입력해주세요"></textarea>
            </div>

            <div class="form-group">
                <label>📁첨부파일</label>
                <input type="file" id="attachfile" name="attachfile">
            </div>

            <div class="form-actions">
                <button type="button" class="save-button" onclick="replyCheck();">저장</button>
                <button type="button" class="cancle-button" onclick="history.back();">취소</button>
            </div>
        </form>
    </div>
</section>
<div th:insert="/common/footer.html"></div>
</body>
</html>